@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: "Roboto", sans-serif;
    background-color: #f3f4f6;
    color: #333;
    padding: 0;
    margin: 0;
}
/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    height: 8px; /* Set the height of the horizontal scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background of the scrollbar track */
    border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #888; /* Set the color of the scrollbar handle */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Set the color of the scrollbar handle when hovered */
}

/* Custom scrollbar for Firefox */
scrollbar {
    width: 8px;
    height: 8px;
}

scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

scrollbar-thumb:hover {
    background: #555;
}
